.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn {
    background-color: blue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffff;
}